name: Deploy MkDocs site

on:
  push:
    branches:
      - main  
      - vyokky/dev  
    paths:
      - 'documents/**'  

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install MkDocs and dependencies
        run: |
          pip install mkdocs mkdocs-material mkdocstrings mkdocstrings[python]

      - name: Deploy to GitHub Pages
        run: |
          cd documents
          mkdocs gh-deploy --config-file mkdocs.yml --force
        env:
          github_token: ${{ secrets.GITHUB_TOKEN }}